FAST_LIO/*.png
FAST_LIO/*.pdf
FAST_LIO/*.jpg
FAST_LIO/*.gif

groundgrid/*.png
groundgrid/*.jpg
groundgrid/*.gif

livox_ros_driver2/*.png
livox_ros_driver2/*.jpg
livox_ros_driver2/*.gif

# 빌드 및 로그 폴더 (보통 워크스페이스 루트에서 관리하지만 src 내에 있다면 추가)
build/
install/
log/

# 파이썬 캐시
__pycache__/
*.pyc

# IDE 설정 파일
.vscode/
.idea/

# 로컬 설정 및 임시 파일
*.swp
*~
.DS_Store